body{
	font-family: 'Noto';
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Noto Bold';
}

.row {margin: 0 auto;}

.row a, .row a:focus{
	color:#fff;
	text-decoration: none;
	outline: inherit;
}

.box{border:2px solid #fff;}

.box h2 {text-align: center;text-shadow:0px 0px 2px #0f0f0f;}

div.box:nth-child(1){background-color: #02A8F3;}
div.box:nth-child(2){background-color: #8BC34A;}
div.box:nth-child(3){background-color: #AB47BC;}
div.box:nth-child(4){background-color: #DA4336;}
div.box:nth-child(5){background-color: #F09300;}
div.box:nth-child(6){background-color: #A42613;}
div.box:nth-child(7){background-color: #1B39A8;}
div.box:nth-child(8){background-color: #00685B;}
div.box:nth-child(9){background-color: #FFAB91;}

footer .breadcrumb li:first-child{
	position: absolute;
	left: 15px;
}

footer .breadcrumb li:last-child{
	display: none;
}

footer .breadcrumb a{ color: inherit;}

footer .text-danger{
	font-weight: bold!important;
}

@font-face{
	font-family:'Noto';
	src:url('asset/fonts/NotoSansBengali-Regular.ttf');
}

@font-face{
	font-family:'Noto Bold';
	src:url('asset/fonts/NotoSansBengali-Bold.ttf');
}

@font-face {
	font-family:"Flaticon";
	src:url('asset/fonts/flaticon.ttf');
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
	font-family:Flaticon!important;
	font-size:3em;
	display:block;
}

.icon-beach2:before{content: "\e000";}

.icon-dots7:before{content: "\e001";}

.icon-full22:before{content: "\e002";}

.icon-gift41:before{content: "\e003";}

.icon-hotel78:before{content: "\e004";}

.icon-man204:before{content: "\e005";}

.icon-restaurant2:before{content: "\e006";}

.icon-robot3:before {content: "\e007";}

.icon-ticket13:before{content: "\e008";}

@media screen and (max-width: 63.125em){
	.col-sm-3{
		width: 50%;
		float: left;
	}

	.box:last-child{width: 100%;}

	.box h2{
		line-height: 1.5em;
	}

	.box p{
		display: none;
	}

	footer .breadcrumb li{
		display:block!important;
		text-align: left;
	}

	footer .breadcrumb li:first-child{
		visibility: hidden;
	}

	footer .breadcrumb li:last-child{
		display: block;
	}


	footer .breadcrumb li:before{
		content: "";
	}

	[class^="icon-"]:before,
	[class*=" icon-"]:before,
	[class^="icon-"]:after,
	[class*=" icon-"]:after{
		font-size: 1em !important;
	}
}

/*add animation to home page boxes*/

.box {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation: scaleFadeIn 0.5s forwards;
  -ms-animation: scaleFadeIn 0.5s forwards;
  animation: scaleFadeIn 0.5s forwards;
}
div .box:nth-child(1) {
  -webkit-animation-delay: 0.05s;
  -ms-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
div .box:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
div .box:nth-child(3) {
  -webkit-animation-delay: 0.15s;
  -ms-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
div .box:nth-child(4) {
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
div .box:nth-child(5) {
  -webkit-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
div .box:nth-child(6) {
  -webkit-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
div .box:nth-child(7) {
  -webkit-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
div .box:nth-child(8) {
  -webkit-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
div .box:nth-child(9) {
  -webkit-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

@-webkit-keyframes scaleFadeIn {
  100% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleFadeIn {
  100% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
